.Header {
  position: fixed;
  width: 100%;

  .box {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 60px;
      filter: brightness(0) invert(1);
      -webkit-filter: brightness(0) invert(1);
    }

    li {
      margin: 0 2rem;
      display: inline-block;

      a {
        color: #fff;
        font-weight: 600;
        font-size: 0.95rem;
      }
    }

    .sign_in {
      color: #fff;
      background-color: var(--primary-color);

      &:hover {
        background-color: lighten(rgb(240, 88, 0), 10%);
      }
    }
  }
}

.sticky {
  background-color: rgba(0, 0, 0, 0.863);
}
